header {
  background-color: #000; /* Replace with the desired background color */
  color: #fff; /* For the text color */
}

header .bottom-line {
  height: 4px;
  background-color: #771800;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav .logo img {
  width: 150px; /* Adjust as needed */
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing as needed */
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* For the text color */
  transition: color 0.3s;
  padding: 0 10px;
  font-size: 1rem;
}

nav ul li a:hover, nav ul li a:focus {
  color: #fa3200;
    /* border-bottom: 8px solid rgb(0, 210, 180);; */
}
nav ul li {
  position: relative;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #000; /* Adjust as needed */
}

nav ul li:hover ul {
  display: block;
}
